<ion-content [fullscreen]="true" class="ion-text-center">
  <div class="container">
    <div class="content-wrapper">
      <ion-img src="assets\rb_11316.png"></ion-img>
      <ion-title class="bold">
        Explore the world with <br> GoPekan
      </ion-title>
    </div>
  </div>

  <ion-fab vertical="bottom" horizontal="end" style="margin-bottom: 30px;">
    <ion-fab-button [routerLink]="['/login']">
      <ion-icon name="chevron-forward"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>