<!-- home.page.html -->
<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>GoPekan</ion-title>
    <ion-buttons slot="end">
      <ion-button id="profile-btn">
        <ion-icon name="person-outline" size="large"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
  <ion-toolbar [class.collapsed]="isSearchbarCollapsed">
    <ion-searchbar placeholder="Search..."></ion-searchbar>
  </ion-toolbar>
</ion-header>

<ion-content [scrollEvents]="true" (ionScroll)="handleScroll($event)">
  <div class="ion-padding">
    <div class="cards-container">
      <ion-card *ngFor="let restaurant of restaurants" class="restaurant-card">
        <ion-card-header>
          <ion-card-title>{{ restaurant.name }}</ion-card-title>
        </ion-card-header>
        <ion-card-content>
          {{ restaurant.desc }}
        </ion-card-content>
      </ion-card>
    </div>
  </div>
</ion-content>

<!-- Profile Popover -->
<ion-popover trigger="profile-btn" [dismissOnSelect]="true">
  <ng-template>
    <ion-list>
      <ion-item button (click)="navigateToProfile()">
        <ion-icon name="person-outline" slot="start"></ion-icon>
        <ion-label>Profile</ion-label>
      </ion-item>
      <ion-item button (click)="logout()">
        <ion-icon name="log-out-outline" slot="start"></ion-icon>
        <ion-label>Logout</ion-label>
      </ion-item>
    </ion-list>
  </ng-template>
</ion-popover>