<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title><span class="go">Go</span><span class="pekan">Pekan</span></ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="presentProfilePopover($event)">
        <ion-icon name="person-outline" size="large"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
  <ion-toolbar [class.collapsed]="isSearchbarCollapsed">
    <ion-searchbar placeholder="Search..."></ion-searchbar>
  </ion-toolbar>
</ion-header>

<ion-content [scrollEvents]="true" (ionScroll)="handleScroll($event)">
  <div class="ion-padding">
    <div class="cards-container">
      <!-- Show loading spinner when isLoading is true -->
      <div *ngIf="isLoading" class="ion-text-center ion-padding">
        <ion-spinner></ion-spinner>
      </div>
      <ng-container *ngIf="!isLoading && restaurants.length > 0">
        <ion-card
        *ngFor="let restaurant of restaurants">
        <div class="image-container">
          <img 
            [alt]="restaurant.name" 
            [src]="restaurant.imageUrl || 'https://ionicframework.com/docs/img/demos/card-media.png'"
            (error)="handleImageError($event)"
            [ngClass]="{'unverified-image': !restaurant.isVerified}" />
          <div class="verification-overlay" *ngIf="!restaurant.isVerified">
            <span>Not verified yet</span>
          </div>
        </div>
          <ion-card-header>
            <ion-card-title>{{ restaurant.name }}</ion-card-title>
          </ion-card-header>
          <ion-card-content>
            <p>{{ restaurant.desc }}</p>
          </ion-card-content>
          <div class="icon-container">
            <div class="icon-wrapper">
                <ion-icon name="create-outline" (click)="navigateToEditRestaurant(restaurant.id)"></ion-icon>
            </div>
            <div class="icon-wrapper">
                <ion-icon name="document-text-outline" (click)="navigateToReviews(restaurant.id)"></ion-icon>
            </div>
        </div>
        </ion-card>
      </ng-container>

      <div *ngIf="!isLoading && restaurants.length === 0" class="no-restaurants">
        <div class="ion-padding">
          <h2>You haven't added any restaurants yet</h2>
        </div>
      </div>
    </div>
  </div>

  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button (click)="navigateToRestaurant()">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>

