<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>GoPekan</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="presentProfilePopover($event)">
        <ion-icon name="person-outline" size="large"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
  <ion-toolbar [class.collapsed]="isSearchbarCollapsed">
    <ion-searchbar placeholder="Search..."></ion-searchbar>
  </ion-toolbar>
</ion-header>

<ion-content [scrollEvents]="true" (ionScroll)="handleScroll($event)">
  <div class="ion-padding">
    <div class="cards-container">
      <ng-container *ngIf="restaurants.length > 0; else noRestaurants">
        <ion-card
          *ngFor="let restaurant of restaurants"
          (click)="navigateToEditRestaurant(restaurant.id)"
        >
          <ion-card-header>
            <ion-card-title>{{ restaurant.name }}</ion-card-title>
          </ion-card-header>
          <ion-card-content>
            <p>{{ restaurant.desc }}</p>
          </ion-card-content>
          <div class="icon-container">
            <ion-icon name="create-outline"></ion-icon>
        </div>
        </ion-card>
      </ng-container>

      <ng-template #noRestaurants>
        <div class="no-restaurants">
          <div class="ion-padding">
            <ion-img src="assets/error.jpg" alt="No restaurants found"></ion-img>
            <ion-text>
              <h2>You haven't added any restaurants yet</h2>
            </ion-text>
          </div>
        </div>
      </ng-template>
    </div>
  </div>

  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button (click)="navigateToRestaurant()">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>

