ion-card {
  margin: 16px;
}

ion-item {
  --padding-start: 0;

  h2 {
    font-weight: bold;
    margin-bottom: 4px;
  }

  p {
    color: var(--ion-color-medium);
  }
}
ion-title {
  font-size: 2em;
  font-weight: bolder;
  color: #9ac1fc;
}
