<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title (click)="navigateToHome()"><span class="go">Go</span><span class="pekan">Pekan</span></ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-title class="ion-padding">Dashboard</ion-title>
        <ion-card>
          <ion-card-content>
            <ion-card-title>Total Restaurants</ion-card-title>
            <ion-text color="primary">
              <h2>{{ totalRestaurants }}</h2>
            </ion-text>
          </ion-card-content>
        </ion-card>
      
        <ion-card>
          <ion-card-content>
            <ion-card-title>Total Reviews</ion-card-title>
            <ion-text color="secondary">
              <h2>{{ totalReviews }}</h2>
            </ion-text>
          </ion-card-content>
        </ion-card>

    <!-- Charts -->
        <ion-card>
          <ion-card-header>
            <ion-card-title>Restaurant Ratings & Reviews</ion-card-title>
          </ion-card-header>
          <ion-card-content>
            <div class="chart-container">
              <canvas id="ratingChart"></canvas>
            </div>
          </ion-card-content>
        </ion-card>
      
        <ion-card>
          <ion-card-header>
            <ion-card-title>Rating Distribution</ion-card-title>
          </ion-card-header>
          <ion-card-content>
            <div class="chart-container">
              <canvas id="distributionChart"></canvas>
            </div>
          </ion-card-content>
        </ion-card>

    <!-- Restaurant List -->
    <ion-card class="ion-padding">
      <ion-list-header>Restaurants Ranking</ion-list-header>
      <div *ngIf="loadingSentiment" class="ion-text-center ion-padding">
        <ion-spinner></ion-spinner>
        <p>Analyzing sentiment...</p>
      </div>
      
      <ion-item *ngFor="let restaurant of restaurantSentiments" button detail="false" (click)="presentSentimentPopover($event, restaurant)">
        <ion-label>
          <h2>{{ restaurant.restaurantName }}</h2>
          <p>Reviews: {{ restaurant.totalReviews }}</p>
          <p>
            <ion-text [color]="getSentimentColor(restaurant.sentiment.score)">
              Sentiment: {{ restaurant.sentiment.overallSentiment }}
              ({{ restaurant.sentiment.score }}%)
            </ion-text>
          </p>
        </ion-label>
        <ion-note slot="end">
          <div class="rating-container">
            <div class="stars">
              <ion-icon name="star"></ion-icon>
              {{ restaurant.averageRating }}
            </div>
            <div class="sentiment-summary">
              <ion-badge [color]="getSentimentColor(restaurant.sentiment.score)">
                {{ restaurant.sentiment.overallSentiment }}
              </ion-badge>
            </div>
          </div>
        </ion-note>
      </ion-item>
    </ion-card>
    
</ion-content>