<ion-content [fullscreen]="true">
  <div class="header">
    <ion-title class="title" size="large">Enter your email</ion-title>
    <p class="subtitle">To receive a reset password link</p>
  </div>

  <div class="ion-padding">
    <div class="input-container">
      <ion-icon name="mail-outline"></ion-icon>
      <ion-input
        type="email"
        fill="solid"
        label="Email"
        labelPlacement="floating"
        errorText="Invalid email"
        [(ngModel)]="email"
        email
      ></ion-input>
    </div>
    <ion-button class="sendBtn" expand="block" (click)="resetPassword()"
      >Send</ion-button
    >
    <div class="center-link">
      <a [routerLink]="['/login']">Login Here</a>
    </div>
  </div>
</ion-content>
