.input {
  font-weight: 300;
}
.header {
  margin-top: 100px;
  margin-bottom: 80px;
  text-align: center;

  .subtitle {
    color: gray;
    font-size: 0.9rem;
  }
  .title {
    font-size: 2rem;
  }
}
.input-container {
    display: flex;
    align-items: center;
  }
  
  ion-icon {
    margin-right: 10px; /* Adjust spacing between the icon and the input */
    font-size: 24px;    /* Adjust icon size */
  }
  
  ion-input {
    flex-grow: 1;       /* Make input take the remaining space */
  }
  .center-link {
    display: flex;
    justify-content: center;
    margin-top: 10px; /* Add some space above if needed */
  }
  
  a {
    font-size: 16px; /* Adjust font size */
    color: #007bff;  /* Adjust the link color */
    text-decoration: none; /* Remove underline */
  }  

