<ion-content [fullscreen]="true">
  <div class="header">
    <ion-icon name="lock-open-outline" class="header-icon"></ion-icon>
    <ion-title class="title" size="large">Forgot Password?</ion-title>
    <p class="subtitle">
      Don't worry! It happens. Please enter your email <br />
      and we'll send you a reset password link.
    </p>
  </div>

  <div class="ion-padding">
    <div class="input-container">
      <ion-icon name="mail-outline"></ion-icon>
      <ion-input
        type="email"
        fill="solid"
        label="Email"
        labelPlacement="floating"
        errorText="Invalid email"
        [(ngModel)]="email"
        email
      ></ion-input>
    </div>
    <br>
    <div>
      <ion-button class="reset-button" expand="block" (click)="resetPassword()">
        Send Reset Link
      </ion-button>
    </div>
    <div class="center-link">
      <a [routerLink]="['/login']">Login Here</a>
    </div>
  </div>
</ion-content>
