<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Forgot Password</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-card>
    <ion-card-header>
      <ion-card-title>Forgot Password</ion-card-title>
    </ion-card-header>

    <ion-card-content>
      <ion-input
        type="email"
        fill="solid"
        label="Email"
        labelPlacement="floating"
        errorText="Invalid email"
        [(ngModel)]="email"
        email
      ></ion-input>
      <ion-button expand="block" (click)="resetPassword()">Reset Password</ion-button>
    </ion-card-content>
  </ion-card>
</ion-content>