<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title (click)="navigateToHome()">GoPekan</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-card>
    <ion-img src="assets\44069.jpg"></ion-img>
    <ion-card-header>
      <ion-card-title>Add Restaurant</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-item>
        <ion-icon name="person-outline" slot="start"></ion-icon>
        <ion-input
          type="text"
          fill="solid"
          label="Name"
          labelPlacement="floating"
          errorText="Invalid name"
        ></ion-input>
      </ion-item>
      <ion-item>
        <ion-icon name="location-outline" slot="start"></ion-icon>
        <ion-input
          type="text"
          fill="solid"
          label="Address"
          labelPlacement="floating"
        ></ion-input>
      </ion-item>
      <ion-item>
        <ion-icon name="fast-food-outline" slot="start"></ion-icon>
        <ion-select
          aria-label="cuisine-type"
          interface="action-sheet"
          placeholder="Cuisine Type"
        >
          <ion-select-option value="local-food">Local Food</ion-select-option>
          <ion-select-option value="western">Western</ion-select-option>
          <ion-select-option value="pastries">Pastries</ion-select-option>
          <ion-select-option value="noodle">Noodle</ion-select-option>
          <ion-select-option value="snack">Snack</ion-select-option>
        </ion-select>
      </ion-item>
      <ion-item>
        <ion-icon name="text" slot="start"></ion-icon>
        <ion-textarea
          aria-label="Custom textarea"
          placeholder="Restaurant's description"
          class="custom"
          helperText="Helper text"
          [counter]="true"
          [maxlength]="100"
        ></ion-textarea>
      </ion-item>
      <ion-button expand="block">Add Restaurant</ion-button>
    </ion-card-content>
  </ion-card>
</ion-content>
