.center-link {
    display: flex;
    justify-content: center;
    margin-top: 10px; /* Add some space above if needed */
  }
  
  a {
    font-size: 16px; /* Adjust font size */
    color: #007bff;  /* Adjust the link color */
    text-decoration: none; /* Remove underline */
  }
ion-card-title{
  font-size: 2.4em;
}
/* register.page.scss */
.animate-card {
  transition: all 0.3s ease;
  
  &:hover {
    cursor: pointer;
  }
}

ion-card {
  margin: 16px;
  border-radius: 12px;
  overflow: hidden;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.center-link {
  margin-top: 16px;
  text-align: center;
}