<ion-header [translucent]="true" class="animate-item">
  <ion-toolbar>
    <ion-title (click)="navigateToHome()">GoPekan</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-card class="animate-item">
    <div class="image-container">
      <ion-img 
        [src]="imagePreviewUrl || restaurant.imageUrl || 'https://ionicframework.com/docs/img/demos/card-media.png'"
        (ionError)="handleImageError($event)"
        class="restaurant-image">
      </ion-img>
      <div class="image-upload-overlay">
        <label for="file-input" class="upload-button">
          <ion-icon name="camera"></ion-icon>
          Change Image
        </label>
        <input 
          type="file" 
          id="file-input" 
          (change)="onFileSelected($event)" 
          accept="image/*"
          style="display: none;">
      </div>
    </div>
    <ion-card-header>
      <ion-card-title class="ion-text-center">
        Update Your Restaurant Details
      </ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <form (ngSubmit)="onSubmit()">
        <ion-item>
          <ion-icon name="person-outline" slot="start"></ion-icon>
          <ion-input
            type="text"
            [(ngModel)]="restaurant.name"
            name="name"
            fill="solid"
            label="Name"
            labelPlacement="floating"
            errorText="Invalid name"
            required
          ></ion-input>
        </ion-item>
        <ion-item>
          <ion-icon name="location-outline" slot="start"></ion-icon>
          <ion-input
            type="text"
            [(ngModel)]="restaurant.address"
            name="address"
            fill="solid"
            label="Address"
            labelPlacement="floating"
            required
          ></ion-input>
        </ion-item>
        <ion-item>
          <ion-icon name="call-outline" slot="start"></ion-icon>
          <ion-input
          type="tel"
          [(ngModel)]="restaurant.phone"
          name="phone"
          fill="solid"
          label="Phone Number"
          labelPlacement="floating"
          required
          ></ion-input>
        </ion-item>
        <ion-item>
          <ion-icon name="fast-food-outline" slot="start"></ion-icon>
          <ion-select
            [(ngModel)]="restaurant.type"
            name="type"
            aria-label="cuisine-type"
            interface="action-sheet"
            placeholder="Cuisine Type"
            required
          >
            <ion-select-option value="local-food">Local Food</ion-select-option>
            <ion-select-option value="western">Western</ion-select-option>
            <ion-select-option value="pastries">Pastries</ion-select-option>
            <ion-select-option value="noodle">Noodle</ion-select-option>
            <ion-select-option value="snack">Snack</ion-select-option>
          </ion-select>
        </ion-item>

       <ion-item-divider>
  <ion-label>Operating Hours</ion-label>
</ion-item-divider>

<div class="hours-container">
  <ion-item class="hours-24">
    <ion-checkbox [(ngModel)]="is24Hours" (ionChange)="toggle24Hours()" name="is24Hours">
      Open 24 Hours
    </ion-checkbox>
  </ion-item>

  <ng-container *ngIf="!is24Hours && restaurant.operatingHours">
    <div class="day-card" *ngFor="let day of days">
      <!-- Day Header -->
      <div class="day-header">
        <ion-label class="day-name">{{ getDayDisplayName(day) }}</ion-label>
        <ion-toggle 
          [(ngModel)]="restaurant.operatingHours[day].isOpen"
          name="isOpen{{day}}"
          class="day-toggle">
        </ion-toggle>
      </div>

      <!-- Time Controls -->
      <div class="time-controls" *ngIf="restaurant.operatingHours[day].isOpen">
        <!-- Opening Time -->
        <div class="time-row">
          <ion-label>Opens</ion-label>
          <div class="time-input-container">
            <ion-input
              type="time"
              [(ngModel)]="restaurant.operatingHours[day].open"
              name="open{{day}}"
              class="time-input">
            </ion-input>
          </div>
        </div>

        <!-- Closing Time -->
        <div class="time-row">
          <ion-label>Closes</ion-label>
          <div class="time-input-container">
            <ion-input
              type="time"
              [(ngModel)]="restaurant.operatingHours[day].close"
              name="close{{day}}"
              class="time-input">
            </ion-input>
          </div>
        </div>

        <!-- Next Day Option -->
        <div class="next-day-row">
          <ion-checkbox
            [(ngModel)]="restaurant.operatingHours[day].spanNextDay"
            name="span{{day}}"
            class="next-day-checkbox">
          </ion-checkbox>
          <ion-label>
            Extends to next day
            <ion-icon name="arrow-forward-outline"></ion-icon>
          </ion-label>
        </div>
      </div>
    </div>
  </ng-container>
</div>

        <ion-item>
          <ion-icon name="text" slot="start"></ion-icon>
          <ion-textarea
            [(ngModel)]="restaurant.desc"
            name="desc"
            aria-label="Custom textarea"
            placeholder="Restaurant's description"
            class="custom"
            helperText="Helper text"
            [counter]="true"
            [maxlength]="100"
            required
          ></ion-textarea>
        </ion-item><br>
        <ion-button expand="block" type="submit">Edit Restaurant</ion-button>
      </form>
      <br>
      <ion-button expand="block" color="danger" (click)="deleteRestaurant()">Delete Restaurant</ion-button>
    </ion-card-content>
  </ion-card>
</ion-content>